<h1>Listing questions</h1>
<ul class="question_list">
	<% @questions.each do |question| %>
		<li><%= link_to question.title, question %></li>
	<% end %>
</ul>
<br>

<%= link_to 'New Question', new_question_path %>
